.Game_Selection {
    background-color: #EABE6C;
    margin-left: 5%;
    margin-right: 5%;
}
ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: .75rem 0rem;
    background-color: #240A34; 
}
li.navbar {
    color: white;
    padding: .75rem 0rem;
    justify-content: center;
    display: inline;
}
a.navbar {
    color: white;
    text-decoration: none;
    padding: .75rem 1rem;
}
a.navbar:hover {
    background-color: #111;
}
body {
    color: black;
    margin: 0;
    background-color: #FFEDD8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font: bolder;
}
.game_container {
    border: 2px solid black;
    padding: 4rem;
    background-color: white;
    margin: 0 30%;
    
}

.game_container_c4 {
	border: 2px solid black;
	padding: 4rem;
	background-color: white;
	margin: 0 25%;

}
		
.ui { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 
.row { 
    display: flex; 
} 
.cell { 
    border: 2px solid black;
    width: 80px; 
    height: 80px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 24px; 
    text-align: center; 
    cursor: pointer; 
}   
.cell:active { 
    background-color: lightgray;
    outline: none; 
} 
.cellfour{
	border: 2px solid black;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	text-align: center;
	cursor: pointer;/* 3*3 Grid */
}
#b1, #b2, #b3, #b4, #b6{
    border-bottom: 1px solid black; 
}

#b1, #b2, #b4, #b7, #b8{
    border-right: 1px solid black; 
}

#b2, #b3, #b6, #b8, #b9{
    border-left: 1px solid black; 
}

#b4, #b6, #b7, #b8, #b9{
    border-top: 1px solid black; 
}
  
#b5 { 
    border: 1px solid black; 
} 
  
/* Reset Button */
#but { 
    box-sizing: border-box; 
    border: 1px solid black; 
    margin-left: auto; 
    border-radius: 8px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    background-color: whitesmoke; 
    color: purple; 
    font-size: 20px; 
    cursor: pointer;  
} 
  
/* Player turn space */
#print { 
    font-size: 20px; 
} 
  
/* Main Container */
#main { 
    text-align: center; 
} 
  
@media(max-width:768px){
    li.navbar{
        display: flex;
        padding: .5rem 1rem;
    }
    a.navbar{
        display: flex;
        padding: .5rem 80%;
    }
    .game_container {
        margin: 0 
    }
    .game_container_c4{
	margin: 0
    }
   .cellfour{
	  border: 2px solid black;
	 width: 25px;
	height: 30px;
       display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	text-align: center;
	cursor: pointer;/* 3*3 Grid */
	}
}
